@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Rubik", sans-serif;
}
/* Hide initially on mobile */
@media (max-width: 767px) {
  #upper-header {
    display: none;
  }
}

/* Infinite scrolling animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-124%));
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
  display: flex;
  width: calc(100% + 1rem);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .animate-scroll {
    width: calc(960% + 1rem);
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-33.333%));
    }
  }
}

html {
  scroll-behavior: smooth;
}

.highlight-footer {
  box-shadow: 0 0 30px 10px #e6f7ff;
  transition: box-shadow 0.5s;
}

/* Client section */
@keyframes slideUp {
  from {
    transform: translateY(8px) scale(0.97);
    opacity: 0;
  }
  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}
.animate-slideUp {
  animation: slideUp 0.32s cubic-bezier(0.43, 0.42, 0.23, 1.11);
}

.tooltip-arrow {
  position: absolute;
  left: 50%;
  bottom: -11px;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
}

/* Hide scrollbar (for WebKit browsers) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
/* Firefox */
.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
