@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Rubik", sans-serif;
}
/* Hide initially on mobile */
@media (max-width: 767px) {
  #upper-header {
    display: none;
  }
}

/* Infinite scrolling animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% - 2rem));
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
  display: flex;
  width: calc(200% + 4rem); /* Double width for seamless looping */
}

/* Pause animation on hover */
.animate-scroll:hover {
  animation-play-state: paused;
}
