@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Rubik", sans-serif;
  hyphens: auto;
}
/* Hide initially on mobile */
@media (max-width: 767px) {
  #upper-header {
    display: none;
  }
}

html {
  scroll-behavior: smooth;
}

.highlight-footer {
  box-shadow: 0 0 30px 10px #e6f7ff;
  transition: box-shadow 0.5s;
}

@media (max-width: 639px) {
  .group .tooltip {
    display: none !important;
  }
}

/* You can add this to your styles.css if not already present */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
